
<header>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://ak9.picdn.net/shutterstock/videos/1020249409/preview/stock-footage-happy-group-of-friends-dancing-together-enjoying-rooftop-party-music-at-night-having-fun-drinking.webm" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white" style="margin-top: 200px; background-color: black; opacity: 0.8; padding-top: 8px; padding-bottom: 8px; padding-left: 1px; padding-right: 4px; width: 200px;">
        <h1 class="display-1">Invent the Runway</h1>
        <p class="lead mb -99"> Host fashion shows in your living room</p>
      </div>
    </div>
  </div>
</header>

<center>

  <%= form_tag "/login" do %>
  <font color="white"> <%= label_tag :username %>
  <font color="red"><%= text_field_tag :username %>
  <font color="white"><%= label_tag :password %>
  <font color="red"><%= password_field_tag :password %>
  <font color="black"> <%= submit_tag "login" %>

  
<% end %>

 </center>


<center>
<font color="red"><%= button_to 'Signup'.html_safe, new_user_path , method: :get%>
</center>

</div>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        </p>
        <p class="mb-0">
          
        </p>
      </div>
    </div>
  </div>
</section>


<div class=“container”>

 <style>
 
 body {
  background: rgb(24, 26, 19);
  font-family: 'Open Sans', sans-serif;
}

</style>