
  <center>
  
  
  <li>Name:<%= @event.name %></li>
  <li>Date: <%= @event.date %></li>
  <li>Designer: <%= @event.designer.name %></li>
<li> Location:<%= @event.location %>
<hr>

<% @eventmodels.each do |x| %>
Click below to edit model <%=  button_to x.model.name, edit_event_event_model_path(@event,x), method: :get%> 
  
<% end %>

<br>





<hr>

<%= button_to 'Add more models', new_event_event_model_path(@event), method: :get%> 


<br>

<%= button_to "Edit THIS event", edit_event_path(@event), method: :get %>

<br>



<%= button_to "Delete event", event_path(@event), method: :delete %>


</center>

<hr>




<style>
 
 body {
  background: rgb(128,128,128);
  font-family: 'Open Sans', sans-serif;
}

</style>